pynlpl/
venv38/
.idea/
*.zip
__pycache__/
configs/__pycache__/
lm/__pycache__/
.DS_Store
.git
.venv
.*~

devel/
build/
src/CMakeLists.txt
.catkin_workspace
/src/speech_processing/__init__.py
/src/speech_processing/src/__init__.py
venv
