torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
pyyaml
pyaudio
soundfile
sounddevice
sentencepiece
transformers
editdistance
webrtcvad
gTTs
langchain
playsound
gymnasium
openai
faster_whisper
numpy==1.21.6
empy==3.3.4
scipy
langchain-community