torch
torchvision
torchaudio
pyyaml
pyaudio
soundfile
sentencepiece
transformers
editdistance
webrtcvad

# package for dialog
# pip install gTTs
# pip install --upgrade langchain
# pip install playsound
# pip install gymnasium
# pip install openai
